@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Bienvenida página test</p>
    <li>
        <ul>Primer elemento</ul>
        <ul>Segundo elemento</ul>
    </li>
</div>